# Diretórios gerados pelo Maven
/target/
/.mvn/
pom.xml.tag
pom.xml.releaseBackup
release.properties

# Dependências locais do Maven
/.m2/

# Arquivos gerados
*.csv
*.zip
*.log

# Configurações de IDEs
/.idea/
/*.iml
/.vscode/
/.classpath
/.project
/.settings/

# Arquivos temporários do sistema
*.swp
*.swo
*.DS_Store
Thumbs.db
